@{
    ViewBag.Title = "Receive";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Cols = new Zephyr.Web.Sys.Models.sys_roleMenuColumnMapService().GetCurrentUserMenuColumns();
}

@section scripts{
    <script src="/Content/js/viewModel/com.viewModel.search.js"></script>
    <script type="text/javascript">
        var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        var viewModel = function(){ 
            com.viewModel.search.apply(this,arguments);
        }
        ko.bindingViewModel(new viewModel(data));
    </script>
}

    @Html.RenderToolbar()

    <div class="container_12" style="position:relative;">
        <div class="grid_1 lbl">BillNo</div>
        <div class="grid_2 val"><input type="text" data-bind="value:form.BillNo" class="z-txt " /></div>
        <div class="grid_1 lbl">BillDate</div>
        <div class="grid_2 val"><input type="text" data-bind="value:form.BillDate" class="z-txt " /></div>
        <div class="grid_1 lbl">ProjectCode</div>
        <div class="grid_2 val"><input type="text" data-bind="value:form.ProjectCode" class="z-txt " /></div>
        
        <div class="clear"></div>
        
        <div class="grid_1 lbl">DoPerson</div>
        <div class="grid_2 val"><input type="text" data-bind="value:form.DoPerson" class="z-txt " /></div>
        <div class="grid_1 lbl">SupplierCode</div>
        <div class="grid_2 val"><input type="text" data-bind="value:form.SupplierCode" class="z-txt " /></div>
        <div class="grid_1 lbl">ReceiveDate</div>
        <div class="grid_2 val"><input type="text" data-bind="value:form.ReceiveDate" class="z-txt " /></div>

        <div class="clear"></div>

        <div class="prefix_9" style="position:absolute;top:5px;height:0;">  
            <a id="a_search" href="#" class="buttonHuge button-blue" data-bind="click:searchClick" style="margin:0 15px;">查询</a> 
            <a id="a_reset"  href="#" class="buttonHuge button-blue" data-bind="click:clearClick">清空</a>
        </div>
    </div>
 
    <table data-bind="datagrid:grid">
            <thead>  
            <tr>  
                <th field="BillNo"    sortable="true" align="left"    width="80"     @Html.HideColumn(Cols,"BillNo") >BillNo</th>
                <th field="DoPerson"    sortable="true" align="left"    width="80"     @Html.HideColumn(Cols,"DoPerson") >DoPerson</th>
                <th field="BillDate"    sortable="true" align="left"    width="80"     @Html.HideColumn(Cols,"BillDate") >BillDate</th>
                <th field="ProjectCode"    sortable="true" align="left"    width="80"     @Html.HideColumn(Cols,"ProjectCode") >ProjectCode</th>
                <th field="SupplierCode"    sortable="true" align="left"    width="80"     @Html.HideColumn(Cols,"SupplierCode") >SupplierCode</th>
                <th field="ContractCode"    sortable="true" align="left"    width="80"     @Html.HideColumn(Cols,"ContractCode") >ContractCode</th>
                <th field="WarehouseCode"    sortable="true" align="left"    width="80"     @Html.HideColumn(Cols,"WarehouseCode") >WarehouseCode</th>
            </tr>                            
        </thead>      
    </table>
 